<!DOCTYPE html>
<html>
<head>
    <%- include('header'); %>

    <title>Bun Bun Bake Shop</title>

    <script src="../scripts/data.js"></script>
    <script src="../scripts/browse-item-generator.js"></script>

</head>

  <body style="padding-top: 10vh">
    <div class = "container">
      <div id = "browse-grid" class = "browse-grid">

       <div class = "browse-header">
        <h1>Browse Rolls</h1>
       </div>

       <!-- <div id = "original" class = "browse-item">
          <img src="../assets/images/blackberry.jpg">
          <div class = "content">
            <h3>Original</h3>
            <span class="price">$1.50/pc</span>
            <br>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
            <span class="reviews">(150 reviews)</span>
          </div>
       </div> -->


      </div>
    </div>
  </body> 

  <%- include('footer'); %>

</html>