<!DOCTYPE html>
<html>
  <footer>
    <div class = "footer">
    	<div>
    		<h2>Address</h2>	
    		<p>Bun Bun Bake Shop
    		<br>
    		5123 Ellsworth Ave
    		<br>
			Pittsburgh, PA 15206
			</p>
    	</div>
    	<div>
    		<h2>Hours</h2>
    		<p>
    			<b>Mon-Fri</b> : 8AM - 4PM
    			<br>
				<b>Sat</b> : 8AM - 3PM
				<br>
				<b>Sun</b> : 10AM - 3PM
    		</p>
    	</div>
    	<div>
    		<h2>Contact Us</h2>
    		<p>
    			<b>Phone</b> : 412-332-1992
    			<br>
    			<b>E-mail</b> : bun-bun@gmail.com
    		</p>
    	</div>
    	<div>
    		<h2>Social Media</h2>
    		<p>
    			<b>Facebook</b>
    			<br>
    			<b>Twitter</b>
    			<br>
    			<b>Instagram</b>
    		</p>
    	</div>
    	 <div class ="copyright">
    		<p>(C) 2019 Bun Bun Shop</p>
    	</div>
    </div>

  </footer>

</html>
