<!DOCTYPE html>
<html>
<head>
    <%- include('header'); %>

    <title>Bun Bun Bake Shop</title>

</head>

  <body>
     <div class = "bg">
        <div class = "main-header">
            <h4 class>Home to Pittsburgh's finest</h4>
            <h1 class>Cinnamon Rolls!</h1>
            <div class="underline"></div>
            <p>Welcome to Bun Bun Bakeshop! Our cinnamon rolls combine a rich, buttery dough with the warming flavors of cinnamon and nutmeg - simply unresistable.
            </p>
            <button type="button" class="btn btn-outline-danger" onclick="location.href='/browse'">Browse Rolls</button>
        </div>
     </div>
  </body> 

  <%- include('footer'); %>

</html>