body, html {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  margin-top: 5vh; /*To shift below fixed nav*/
}

.bg {
  position:relative;
  /* The image used */
  background-image: url("../assets/images/bakery.jpg");

  /* Full height */
  height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.browse-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 40vh 40vh 1fr;
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
}

.browse-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.browse-item:hover {
  outline: 2px solid #FF3365;
}

.browse-item > img {
  object-fit: cover;
  width: 100%;
  height: 25vh;
}

.browse-item .content {
  padding: 1rem 0.5rem;
}

.browse-item .content h3 {
  font-size: 1.5rem;
  display: inline;
}

.item-price{
/*  padding-top: 0.5rem;*/
  float: left;
}

.reviews {
  font-size: 0.8rem;
  float: right;
}

.browse-header {
  grid-column: 2/span 3;
}

.browse-header h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #FF3365;
}

.main-header .btn {
  font-family: 'Lato', sans-serif !important;
  color: #FF5B77 !important;
  font-size: 1.4em !important;
  font-weight: bold !important;
  padding: 0.8rem 5rem !important;
  border: 2px solid #FF5B77 !important;
}

.main-header .btn-danger {
  background-color: #FF5B77 !important;
}

.main-header .btn-outline-danger:hover {
  color: white !important;
  border: 2px solid white !important;
}

.item-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 10vh repeat(5, 1fr);
  grid-column-gap: 2vw;
}

.item-grid .img-container {
  grid-row: 2 / span 3;
  grid-column: 2 / span 2;
  width: 100%;
}

.item-grid .img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-buttons {
  grid-row: 5 / span 1;
  grid-column: 2 / span 4;
  padding: 1rem;
  margin-top: 1rem;
}

.item-content {
  grid-row: 2 / span 3;
  grid-column: 4 / span 2;
  padding: 1rem;
}

.item-content h2 {
  float: left;
}

#item-summary {
  color: #9F7B81;
  text-align: center;
}

#item-summary h3 {
  font-size: 1.1rem;
}

#total {
  text-align: center;
}

#total h3 {
  font-size: 1.3rem;
}

.price {
  padding-top: 0.5rem;
  float: right;
}

.item-content p {
  border-top: 2px solid #FFBC03;
  padding-top: 1rem;
}

.main-header h1 {
  font-family: 'Lato', sans-serif;
  color: white !important;
  font-weight: bold;
  font-size: 4em;
}

.main-header h4 {
  font-family: 'Lato', sans-serif;
  color: white !important;
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  margin: 0;
}

.main-header .underline {
  border-bottom: 5px solid #FFBC03;
}

.main-header p {
  font-family: 'Lato', sans-serif;
  margin-top: 1rem;
  color: white !important;
  font-size: 1.3em;
}

.main-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40vw;
/*  border: 3px solid red;*/
}

.modal-body h2 {
  text-align: center;
  color: #FF3365;
}

.modal-body p {
  text-align: center;
}

.navbar {
	border-bottom: 1px red;
}

.navbar-nav a {
	font-family: 'Lato', sans-serif;
  color: #9F7B81 !important;
}

.navbar-brand {
	padding-left: 2em !important;
}

.nav-link{
  padding-left:2em !important;
  padding-right:2em !important;
}

.nav-link:hover {
	color: #FF3365 !important;
	transition: 0.5s;
}

.footer {
	background: white;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr) );
  grid-template-rows: 1fr 20vh;
}

.footer > div {
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lato', sans-serif;
  /*border: 1px solid red;*/
  margin: 1rem;
  padding: 3rem;
}

.footer h2 {
  color: #FF3365;
  font-weight: bold;
  font-size: 1.5em;
}

.footer p {
  color: #9F7B81;
}

.copyright {
  text-align: center;
  grid-column: 1 / span 4;
  width: 30vw;
  border-top: 3px solid #FFBC03;
}